<template>
  <div class="columns">

    <div class="column is-4 is-offset-4 has-background-light p-6">
      <p class="title has-text-centered mb-5">Velo Max</p>

      <b-field label="Limite" label-position="on-border">
        <b-numberinput v-model="alarmThreshold" :min="5" :max="100"></b-numberinput>
      </b-field>

      <br>
      <p v-show="alert" class="alert has-text-centered has-text-danger is-size-4 mb-5">Diminue essa Bosta!!</p>
      <p v-show="errorMsg" class="subtitle has-text-centered has-text-danger">{{ errorMsg }}</p>
      <p class="title has-text-centered">{{ speed }} <span class="is-size-6">Km/h</span></p>
      <b-button @click="start" class="is-fullwidth" size="is-large">Start</b-button>
    </div>
  </div>
</template>
<script>
//import { useSound } from '@vueuse/sound'
//import audio from '../assets/alarm.mp3'

let lastPosition = null;
let lastTimestamp = null;
// Função para calcular a distância entre duas coordenadas geográficas usando a fórmula haversine
function haversineDistance(lat1, lon1, lat2, lon2) {
  const R = 6371; // Raio médio da Terra em quilômetros
  const dLat = (lat2 - lat1) * (Math.PI / 180);
  const dLon = (lon2 - lon1) * (Math.PI / 180);
  const a =
    Math.sin(dLat / 2) * Math.sin(dLat / 2) +
    Math.cos(lat1 * (Math.PI / 180)) *
    Math.cos(lat2 * (Math.PI / 180)) *
    Math.sin(dLon / 2) *
    Math.sin(dLon / 2);
  const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
  const distance = R * c;

  return distance;
}
function calculateSpeed(currentPosition, currentTimestamp) {
  if (lastPosition && lastTimestamp) {
    const distanceInKm = haversineDistance(
      lastPosition.latitude,
      lastPosition.longitude,
      currentPosition.latitude,
      currentPosition.longitude
    );

    const timeInHour = (currentTimestamp - lastTimestamp) / 3600000; // Convertendo milissegundos para horas

    const speedInKilometersPerHour = distanceInKm / timeInHour;

    return speedInKilometersPerHour;
  }

  return 0; // Se não houver medições anteriores, a velocidade é 0.
}
export default {
  name: 'IndexPage',
  data() {
    return {
      watchId: "",
      errorMsg: "",
      speed: 0,
      alarmThreshold: 20, // Velocidade para acionar o alarme (60 km/h)
      alert: false
    }
  },
  methods: {
    start() {

      this.watchId = navigator.geolocation.watchPosition(this.updateSpeed, this.error);

    },

    updateSpeed(position) {


      const currentTimestamp = new Date().getTime();
      this.speed = (calculateSpeed(position.coords, currentTimestamp)).toFixed(2); // velocidade em km/h

      // Atualizar a posição e o carimbo de data/hora mais recentes
      lastPosition = position.coords;
      lastTimestamp = currentTimestamp;

      if (this.speed >= this.alarmThreshold) {

        // Se a velocidade for igual ou superior ao limite, dispare o alarme
        //this.alarmAudio.play();
        this.alert = true;

      } else {

        // Se a velocidade estiver abaixo do limite, pare o alarme
        //this.alarmAudio.pause();
        this.alert = false;

      }

    },

    error(err) {
      this.errorMsg = err.message
    },

    t() {
      play;
    }
  },
  mounted() {
    if (!('geolocation' in navigator))
      this.errorMsg = "Seu navegador não suporta a API de geolocalização";
  },
}
</script>
